.container {
  padding: 2rem;
  margin: 0 auto;

  .wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 400px;
  }

  & input {
    padding: 0.5rem;
    border: 1px solid white;
    width: 100%;
  }
}

.real-price,
.buttonGroup {
  text-align: center;
}

button {
  padding: 0.4rem 1rem;
  border: 1px solid black;
  cursor: pointer;
  margin-top: 2rem;
}

.modify {
  background-color: rgb(255, 21, 185);
  color: white;
}

.cancel {
  background-color: rgb(21, 91, 255);
  color: white;
}