.container {
  padding: 2rem;
  margin: 0 auto;

  .wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 400px;
  }

  & input {
    padding: 0.5rem;
    border: 1px solid white;
    width: 100%;
  }
}

.buttonGroup {
  text-align: center;

  & button {
    padding: 0.5rem 1rem;
    border: 1px solid white;
    cursor: pointer;
    margin-top: 2rem;
  }

  .add {
    background-color: dodgerblue;
    color: white;
  }
}